<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clave wifi UDES</title>
  <!--[if (gte mso 9)|(IE)]>
  <style type="text/css">
    table {border-collapse: collapse !important !important;}
  </style>
  <![endif]-->

</head>

<body style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#e0e0e0;">
  <center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
    <div class="webkit" style="max-width:600px; background-color: white">

      <!--[if (gte mso 9)|(IE)]>
<table width="600" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
<tr>
<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
<![endif]-->
      <table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;">
        <tr>
          <td class="full-width-image" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
            <img src="<?= header >"
              alt="" style="border-width:0;width:100%;height:auto;" />
          </td>
        </tr>
      </table>
      <!--[if (gte mso 9)|(IE)]>
<table width="600" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
<tr>
<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
<![endif]-->
      <!--[if (gte mso 9)|(IE)]>
<table width="600" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
<tr>
<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
<![endif]-->

      <table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;">

        <tr>
          <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
            <div style="margin-bottom: 30px; padding: 20px;">

              ##msg##

            </div>
          </td>
        </tr>

      </table>

      <!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->

      <!--[if (gte mso 9)|(IE)]>
<table width="600 " align="center " style="border-spacing:0;font-family:sans-serif;color:#333333; " >
<tr>
<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0; " >
<![endif]-->
      <table class="outer " align="center " style="border-spacing:0;font-family:sans-serif;color:#333333; ">
        <tr>
          <td class="full-width-image " style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0; ">
            <img src="<?= footer >"
              alt=" " style="border-width:0;width:100%;height:auto; " />
          </td>
        </tr>
      </table>
      <!--[if (gte mso 9)|(IE)]>
<table width="600 " align="center " style="border-spacng:0;font-family:sans-serif;color:#333333; " >
<tr>
<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0; " >
<![endif]-->
    </div>
  </center>
</body>

</html>
